<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
  
<nav>
  <ul>
    <li><a href='/designers'>See Our Designers</a></li>

    <form action=""><a href='/auth/google'>Already with us? Login Here</a></form>
    </ul>
    
</nav>


  </body>
</html>
