<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
  
<nav>
  <ul>
    <li><a href='/'>Home</a></li>
    <li><form action=""><a href='/auth/google'>Login</a></form></li>
    <li><a href='/designers'>See Our Designers</a></li>
    <li><a href="">Contact</a></li>
  </ul>
    
</nav>


  </body>
</html>
