<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
  
<nav>
  <ul>
    <li><a href='/'>Home</a></li>
    <li><a href="#news">About</a></li>
    <li><a href="#contact">Contact</a></li>
    <form action=""><a href='/auth/google'>Login</a></form>
    </ul>
</nav>


  </body>
</html>
