<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>


 <form action="/designers/<%= userId %>/comments?_method=PUT" method="POST">

  <label>ADD A COMMENT</label>
  <input type="text" name="comment">
  
  <button type="submit">Save Changes</button>
  
 

  </body>
</html>