<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>


 <form action="/designers/myaccount" method="POST">

  <label>Name</label>
  <input type="text" name="name">
  <label>Username</label>
  <input type="text" name="username">
  <label>Website</label>
  <input type="text" name="website">
  <label>Bio</label>
  <input type="text" name="bio">
 

  <button>Save Changes</button>
  <button>See your Profile</button>
 

  </body>
</html>