<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>


 <form action="/designers/create" method="POST">

  <label>Name</label>
  <input type="text" name="name">
  <label>Email</label>
  <input type="text" name="email">
 
  <input type="submit" value="Add Movie">
</form>

  </body>
</html>