<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

 <h1><%=  title  %></h1>
 


 <table id="list">
        <thead>
          <tr>
            <th>Name</th>
            <th>Google ID</th>
          </tr>
        </thead>
        <tbody>
    
          <tr>
            <td><%= designer.name %></td>
            <td><%= designer.googleId %></td>
          </tr>
          
        </tbody>
      </table>

  </body>
</html>